path {
  transition-duration: 0.1s;
  outline: #000000;
  fill: #ffffff;
  stroke: #000000;
  stroke-opacity: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-miterlimit: 4;
  stroke-width: 3.64724409;
}
g:hover path {
  fill: #c73659;
}
svg {
  width: fit-content;
  height: 600px;
  margin: 5px;
}
#icon {
  width: 20px;
  height: 20px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Tektur;
  background-color: #151515;
  overflow-x: hidden;
}
.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  color: white;
  font-size: 32px;
  font-weight: bolder;
}
h2 {
  font-size: 55px;
  color: red;
  font-weight: bold;
}
h1 {
  color: red;
}
p {
  font-size: 20px;
}
.more-info {
  background-color: rgb(21, 21, 73);
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}
.muscles {
  display: flex;
  flex-direction: row;
}
header {
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  margin-left: 25px;
  font-size: 30px;
}
ul {
  list-style: none;
  margin: 25px;
  padding: 0;
  display: flex;
  gap: 10px;
  color: rgba(168, 168, 168, 0.767);
  margin-right: 20px;
}
li {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition-duration: 0.3s;
  font-weight: bold;
}
a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
@media screen and (max-width: 735px) {
  body {
    flex-direction: column;
  }
  .muscles {
    flex-direction: column;
  }
  .front .back {
    flex-direction: column;
  }
  a {
    font-size: 10px;
    margin: 7px;
  }
}
.MoreInfoButton {
  background-color: #797b79;
  border-radius: 5px;
  padding: 5px;
  transform: translate(195%, 650%);
  margin-top: 10px;
}
*{
  overflow:scroll;
}
*::selection{
  background-color: #151515;
  color: #ffffff;
}
span{
  color: white;
}
